.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
li{
  list-style: none;
  display: inline-block;
  padding: 1rem;
}
a {

  padding: .5rem 1rem;
  text-decoration: none;
  color: #000;
}
label {
  color: red;
  display: inline-block;
  width: 5%;
}
input{
  width: 50%;
  padding: .3rem;
  margin-top: .5rem;
  float: none;
}
button {
  width: 10%;
  padding: 1rem 0;
  margin: 1rem 0 0 0;
  border: 1px solid;
}
a:hover {
  background-color: cyan;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #000;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
